html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Cinzel", serif;
}

.logo {
  width: 42px;
  background: #f00909;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 5%;
}

.button-search-top {
  background: transparent;
  color: transparent;
  border: none;
  outline: none;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.header-search-top {
  display: none;
}

.header-search-top::-webkit-input-placeholder {
  color: transparent;
  opacity: 0;
}

.header-search-top:-ms-input-placeholder {
  color: transparent;
  opacity: 0;
}

.header-search-top::-ms-input-placeholder {
  color: transparent;
  opacity: 0;
}

.header-search-top::placeholder {
  color: transparent;
  opacity: 0;
}

.header-search-top-active::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}

.header-search-top-active:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.header-search-top-active::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.header-search-top-active::placeholder {
  color: #fff;
  opacity: 1;
}

.button-search-top-active {
  background: #f00909;
  color: #fff;
  font-size: 2.2vh;
  border: none;
  outline: none;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.header-search-top-active {
  background: transparent;
  border: none;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  width: 100%;
  color: #fff;
  font-size: 2vh;
  display: block;
}

.all-search-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background: transparent;
  width: 45%;
  margin: 100px auto !important;
  border-radius: 2px;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.all-search-top-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background: #f00909;
  width: 45%;
  margin: 110px auto !important;
  border-radius: 2px;
}

#banner {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url("../images/hero-1.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11%;
}

.header-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 5px;
  white-space: nowrap;
  font-size: 3vh;
}

.header-text div {
  color: #fff;
}

.header-text-title {
  font-size: 27px;
  font-weight: 950;
}

.header-text-description {
  line-height: 1.5;
  padding: 20px 0;
  font-size: 3vh;
}

.header-text-description::after {
  content: "Life Now ";
  color: #f32c2c;
  font-weight: 900;
  border-bottom: 2px solid #f32c2c;
}

#button-header {
  background-image: -webkit-gradient(linear, left top, right top, from(#f32c2c), to(#ebdc11));
  background-image: linear-gradient(to right, #f32c2c, #ebdc11);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: none;
  padding: 2% 6%;
  color: #fff;
  font-size: 1.5vh;
  border-radius: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#button-header:hover {
  background-color: #b01ba5;
}

header.sticky {
  background: #9e0303;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  top: 0;
}

header {
  position: fixed;
  z-index: 1000;
  top: 70px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header ul li {
  margin: 0 2px;
  list-style: none;
  padding: 15px;
}

header ul a {
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

.baner-all a {
  margin-left: 28%;
  color: #fff;
  font-size: 31px;
}

.baner-all a::before {
  position: absolute;
  height: 18px;
  width: 10px;
  margin-left: -22px;
  margin-top: 8px;
  background: #c20000;
  content: "";
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.header-login {
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  padding: 15px;
  white-space: nowrap;
}

.header-login a {
  color: white;
  background: #000000;
  padding: 10px;
  text-decoration: none;
}

#home {
  background-color: #f00909;
}

.banner-unit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 2%;
  background-color: #252424;
  padding-left: 2%;
}

.banner-unit .page-blogs-images {
  width: 660px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-langding {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 300px;
      grid-template-columns: 300px 300px;
  grid-gap: 10px;
  padding: 5% 0;
  border-bottom: 0.1px solid #3f3b3b;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative;
}

.banner-one {
  display: none;
}

.trending-category {
  color: white;
}

.input-post {
  width: 100%;
  height: 40px;
  background: transparent;
  border-bottom: 2px solid #501755;
  padding: 0 15px;
  overflow: hidden;
}

.img-uot-all {
  border: 2px solid #501755;
  padding-left: 10px !important;
  padding-right: 10px !important;
  width: 150px;
  height: 130px;
}

.img-uot-two {
  width: 100%;
  height: 100px;
}

.user-post-all label {
  color: #fff;
  font-size: 20px;
}

.input-post-padding {
  padding: 10px 0;
}

#btn-file-reset {
  color: #501755;
  font-size: 30px;
}

.button-top {
  width: 100%;
  height: 45px;
  background: #f32b2b;
  color: #fff;
  border: none;
  font-size: 21px;
}

.trending-input {
  padding: 25px 0 0;
}

.trending-input input {
  width: 85%;
  height: 40px;
  background: transparent;
  background-repeat: no-repeat;
  background-position-y: 60%;
  background-position-x: 98%;
  background-size: 20px;
  padding: 0 15px;
  border-bottom: 2px solid  #501755;
}

.title-email {
  padding: 10px 0;
  color: #c4bbbb;
}

#contact_form {
  width: 99%;
}

.input-title {
  width: 90% !important;
}

.trending-input textarea {
  width: 85%;
  background: transparent;
  background-repeat: no-repeat;
  background-position-y: 60%;
  background-position-x: 98%;
  background-size: 100%;
  padding: 0 15px;
  border-bottom: 2px solid  #501755;
}

.banner-input input {
  width: 85%;
  height: 40px;
  background: transparent;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position-y: 60%;
  background-position-x: 98%;
  background-size: 20px;
  padding: 0 15px;
  border-bottom: 2px solid  #501755;
}

.banner-work {
  max-width: 400px;
}

.banner-image {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.banner-image:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.banner-new {
  color: white;
  font-size: 2em;
  font-weight: 450;
  padding: 50px 0 20px;
}

.banner-new::before {
  position: absolute;
  height: 18px;
  width: 10px;
  margin-left: -22px;
  margin-top: 8px;
  background: #c20000;
  content: "";
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.button-new {
  color: white;
  background-color: #373638;
  padding: 2% 5%;
  border: none;
  font-size: 18px;
}

.banner-button {
  padding: 15px 0 60px;
}

.banner-button button {
  margin: 0 3px;
}

.banner-date {
  color: white;
  padding: 6px 0;
}

.banner-title {
  color: white;
  padding: 6px 0;
  max-width: 90%;
  font-size: 28px;
  font-weight: 600;
}

.banner-content {
  color: #68647d;
  padding: 6px 0;
  max-height: 40%;
  word-break: break-all;
}

.banner-more {
  padding: 5% 0 3%;
  border-bottom: 1px solid #f19090;
  max-width: 50%;
}

.banner-more a {
  text-decoration: none;
  color: #eee;
}

.banner-more a i {
  color: #b01ba5;
}

.trending-image {
  padding: 25px 0 0;
  width: 200px;
}

.trending-all {
  padding: 50px 20px 10px;
  background: #2b2a2a;
}

.trending-p p {
  color: #68647d;
}

.trending-image-cate {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-action {
  color: #b01ba5;
}

.category-all {
  padding: 15px 0 0;
}

.trending-work {
  word-break: break-all;
  max-width: 190px;
}

.banner-trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  grid-gap: 3%;
}

div .trending-title {
  color: white;
  font-size: 18px;
  white-space: nowrap;
  width: 120px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.trending-title:hover {
  overflow: visible;
}

.footer-enier {
  color: #fff;
  font-size: 15px;
  padding: 10px 0;
  border-bottom: 1px solid #424040;
}

.trending-date {
  color: white;
  padding: 5px 0;
  white-space: nowrap;
}

.banner-content {
  word-break: break-all;
}

.trending-icons {
  color: white;
  background: transparent;
  -webkit-transform: skewX(-14deg);
          transform: skewX(-14deg);
  height: 30px;
  max-width: 100%;
}

.trending-icons i {
  background-color: #4e4c4c;
  padding: 7px 15px;
}

.trending-like {
  padding: 20px 0 15px;
  color: white;
  font-weight: 500;
}

.trending-banner-title {
  padding: 35px 0 0;
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.active {
  background-color: #f32b2b;
  -webkit-transform: skewX(-4.5deg);
          transform: skewX(-4.5deg);
  outline: none;
  -webkit-box-shadow: 5px 7px #636262;
          box-shadow: 5px 7px #636262;
}

.banner-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
  padding: 3px 0 0;
}

.items-image {
  width: 320px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.trending-icons-images {
  width: 30px;
  height: 30px;
  margin: 0 4px;
}

.page-work {
  max-width: 650px;
  word-break: break-word;
  overflow: hidden;
}

.page-work .page-title {
  color: #faf6f6;
  font-size: 25px;
  padding: 15px 0;
}

.page-work .page-title span {
  color: #b01ba5;
}

.page-work .page-description {
  color: #ddd8d8;
  font-size: 17px;
  line-height: 1.5;
}

.page-work .page-title-two {
  color: #ddd8d8;
  font-size: 25px;
  padding: 15px 0 0;
}

.page-work .page-title-two span {
  color: #b01ba5;
}

.page-work .page-content {
  color: #ddd8d8;
  font-size: 17px;
  line-height: 1.5;
  padding: 0 0 15px;
}

.page-work .page-content p {
  color: #ddd8d8 !important;
}

.page-work .page-content p img {
  width: 100% !important;
}

.page-work .page-content p iframe {
  width: 100% !important;
}

.comment {
  width: 100%;
  background-color: #eee;
  padding: 10px 0 0;
}

.baner-dev {
  background-color: #1f1d1d;
  padding: 30px 0 35px;
}

center {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #f00909;
  right: 30px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 1000;
  font-size: 30px;
  cursor: pointer;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  bottom: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.show {
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}

.swiper-title {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  padding: 5px;
  letter-spacing: 3px;
}

.swiper-description {
  color: #e21313;
  font-size: 30px;
  padding: 5px;
}

.ul-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
}

.ul-title li a:after {
  content: "/";
  color: #444444;
  font-size: 20px;
  margin-left: 35px;
}

.title-user {
  padding: 15px 0 10px;
}

.ul-title-one:before {
  position: absolute;
  height: 15px;
  width: 8px;
  top: 20px;
  background: #c20000;
  content: "";
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.title-down {
  max-width: 100%;
  max-height: 30%;
  word-break: break-all;
  word-wrap: break-word;
  padding: 10px 0;
  line-height: 1.2;
  font-size: 20px;
  font-weight: 600;
}

.dropdown-1 {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
  display: none;
  top: 50px;
  right: -55%;
}

.dropdown-1 div {
  background-color: #000;
}

.dropdown:hover .dropdown-1 {
  display: block;
}

.dropdown-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 10px;
}

.dropdown-grid div li img {
  width: 200px;
  height: 150px;
}

.dropdown-title {
  font-size: 15px;
  padding: 10px 0;
}

.dropdown-data {
  font-size: 15px;
}

.dropdown-1 {
  color: #fff;
}

.dropdown-1 li:hover .dropdown-2 {
  display: block;
}

.dropdown-2 {
  position: absolute;
  left: 93.4%;
  width: 150px;
  display: none;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
}

.ul-enty {
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-enty li {
  margin: 0 4px;
}

.form-create {
  background-color: #fff;
}

footer {
  background-color: #181717;
}

.footer-page {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
  grid-gap: 3%;
}

.footer-title {
  color: #fff;
  font-size: 18px;
  padding: 18px 0;
  margin-left: 28px;
}

.footer-title::before {
  position: absolute;
  margin-left: -22px;
  margin-top: 3px;
  color: #c20000;
  font-size: 40px;
  content: "*";
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
}

.footer-name {
  color: #b01ba5;
  padding: 10px 0;
  font-size: 18px;
}

.footer-description {
  color: #dad8d8;
  font-size: 15px;
  padding: 10px 0;
}

.footer-description i {
  color: #b01ba5;
}

.footer-admin {
  color: #dad8d8;
  font-size: 15px;
}

.footer-admin i {
  color: #b01ba5;
}

.menu {
  display: none;
}

.paddingnew {
  padding: 20px 0;
}

.banner-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #3a3636;
}

.banner-comment {
  color: #fff;
  font-size: 20px;
  padding: 10px 0;
}

.menu-image {
  margin: 70px 50px;
}

.blog-name:hover {
  color: red;
}

.searcherror {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .banner-unit {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  footer {
    overflow: hidden;
  }
  .li-login {
    display: block;
  }
}

input:focus {
  outline: none;
}

@media only screen and (max-width: 900px) {
  .all-search-top {
    margin: 95px auto;
  }
  .banner-langding {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .ul-enty .menu-li {
    display: none;
  }
  .ul-enty .menu {
    display: block;
  }
  .banner-trending {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-trending .trending-image-cate {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .banner-trending .trending-title {
    font-size: 20px;
    width: 100%;
  }
  .banner-trending .trending-date {
    font-size: 20px;
  }
  .banner-image {
    width: 98%;
  }
  .banner-work {
    max-width: 95%;
  }
  .page-work {
    max-width: 97%;
  }
  .footer-page {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding: 23% 0;
  }
  .banner-unit {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .banner-unit .page-blogs-images {
    width: 100%;
  }
  .trending-all {
    text-align: center;
  }
  .swiper-title {
    margin-left: 14%;
  }
  .swiper-description {
    margin-left: 14%;
  }
}
/*# sourceMappingURL=style.css.map */